{{#*inline "page"}}
    <h1>Question</h1>

    <form class="form-group" action="/quiz/admin/question/add" method="post">
        <div class="form-inline">
            <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" name="new_question" required placeholder="New Question">
            <select id="cat_add" name="category_to_add" class="form-control" required title="Category">
                {{#each categories}}
                    <option value={{this.id}}>{{this.text}}</option>
                {{/each}}
            </select>
        </div>
        <row>
            <div class="input-group">
                <span class="input-group-addon">
                    <input type="radio" name="new_correct_answer" id="0">
                </span>
                <input type="text" class="form-control" name="new_answer0" placeholder="First answer">
            </div>
        </row>
        <row>
            <div class="input-group">
                <span class="input-group-addon">
                    <input type="radio" name="new_correct_answer" id="1" required>
                </span>
                <input type="text" class="form-control" name="new_answer1" placeholder="Second answer">
            </div>
        </row>
        <row>
            <div class="input-group">
                <span class="input-group-addon">
                    <input type="radio" name="new_correct_answer" id="2">
                </span>
                <input type="text" class="form-control" name="new_answer2" placeholder="Third answer">
            </div>
        </row>
        <row>
            <div class="input-group">
                <span class="input-group-addon">
                    <input type="radio" name="new_correct_answer" id="3">
                </span>
                <input type="text" class="form-control" name="new_answer3" placeholder="Fourth answer">
            </div>
        </row>

        <button type="submit" class="btn btn-success">Add</button>
    </form>


    {{#each questions }}
        <form class="form-group" method="post">
            <input type="hidden" name="question_id" value="{{this.id}}"/>
            <div class="form-inline">
                <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" name="question_text" value="{{this.text}}">
                <select name="category" class="form-control" title="Category">
                    {{#each categories}}
                        <option value={{this.id}}>{{this.text}}</option>
                    {{/each}}
                </select>
                    <div class="card-block">Current: {{category.text}}</div>
            </div>
            {{#each answers}}
                <row>
                    <input type="hidden" name="answer_id" value="{{this.id}}"/>
                    <div class="input-group">
                <span class="input-group-addon">
                    <input type="radio" name="correct_answer" id="{{@index}} {{#if this.is_correct}}checked{{/if}}">
                </span>
                        <input type="text" class="form-control" name="answer{{@index}}" value="{{this.text}}">
                    </div>
                </row>
            {{/each}}
            <button type="submit" class="btn btn-info" formaction="/quiz/admin/question/edit">Edit</button>
            <button type="submit" class="btn btn-danger" formaction="/quiz/admin/question/remove">Remove</button>
        </form>
    {{/each}}

{{/inline}}
{{~> (parent)~}}