{{#*inline "page"}}
    <h1>Question</h1>

    <form class="form-group" action="/quiz/admin/question/add" method="post">
        <div class="form-inline">
            <textarea  type="text" rows="1" cols="50" class="form-control mb-2 mr-sm-2 mb-sm-0" name="new_question" required placeholder="New Question"></textarea>
            <select id="cat_add" name="category_to_add" class="form-control" required title="Category">
                {{#each categories}}
                    <option value={{this.id}}>{{this.text}}</option>
                {{/each}}
            </select>
        </div>
        <row>
            <div class="input-group">
                <span class="input-group-addon">
                    <input type="radio" name="new_correct_answer" value="0">
                </span>
                <input type="text" class="form-control" name="new_answer0" required placeholder="First answer">
            </div>
        </row>
        <row>
            <div class="input-group">
                <span class="input-group-addon">
                    <input type="radio" name="new_correct_answer" value="1" required>
                </span>
                <input type="text" class="form-control" name="new_answer1" required placeholder="Second answer">
            </div>
        </row>
        <row>
            <div class="input-group">
                <span class="input-group-addon">
                    <input type="radio" name="new_correct_answer" value="2">
                </span>
                <input type="text" class="form-control" name="new_answer2" required placeholder="Third answer">
            </div>
        </row>
        <row>
            <div class="input-group">
                <span class="input-group-addon">
                    <input type="radio" name="new_correct_answer" value="3">
                </span>
                <input type="text" class="form-control" name="new_answer3" required placeholder="Fourth answer">
            </div>
        </row>

        <button type="submit" class="btn btn-success">Add</button>
    </form>


    {{#each questions }}
        <hr/>
        <form class="form-group" method="post">
            <input type="hidden" name="question_id" value="{{this.id}}"/>
            <div class="form-inline">
                <textarea  type="text" rows="1" cols="50" required class="form-control mb-2 mr-sm-2 mb-sm-0" name="question_text">{{this.text}}</textarea>
                <select name="category" id="{{this.id}}" class="form-control" title="Category">
                    {{#each categories}}
                        <option value="{{this.id}}" {{#if-eq this.id ../category.id}}selected="selected"{{/if-eq}}>{{this.text}}</option>
                    {{/each}}
                </select>
            </div>
            {{#each answers}}
                <row>
                    <input type="hidden" name="answer_id" value="{{this.id}}"/>
                    <div class="input-group">
                <span class="input-group-addon">
                    <input type="radio" name="correct_answer" required id="{{@index}}" {{#unless this.is_confirmed_wrong}}checked="checked"{{/unless}}>
                </span>
                        <input type="text" class="form-control" required name="answer{{@index}}" value="{{this.text}}">
                    </div>
                </row>
            {{/each}}
            <br/>
            <button type="submit" class="btn btn-info" formaction="/quiz/admin/question/edit">Edit</button>
            <button type="submit" class="btn btn-danger" formaction="/quiz/admin/question/remove">Remove</button>
        </form>
    {{/each}}

{{/inline}}
{{~> (parent)~}}