{{#*inline "page"}}

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Score</th>
                <th>Points</th>
                <th>Game Start</th>
                <th>Game Length</th>
                <th>Chosen Categories</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                {{#each ranks}}
                    <td>{{ranking}}</td>
                    <td>{{name}}</td>
                    <td>{{score}}</td>
                    <td>{{points}}</td>
                    <td>{{start_time}}</td>
                    <td>{{game_length}}m</td>
                    <td>{{categories}}</td>
                {{/each}}
            </tr>
            </tbody>
        </table>
    </div>

{{/inline}}
{{~> (parent)~}}