{{#*inline "page"}}

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Score</th>
                <th>Points</th>
                <th>Game Start</th>
                <th>Game Length</th>
                <th>Chosen Categories</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                {{#each ranks}}
                    <td>{{ranking}}</td>
                    <td>{{name}}</td>
                    <td>{{score}}</td>
                    <td>{{points}}</td>
                    <td>{{game_start}}</td>
                    <td>{{game_length}}</td>
                    <td>{{categories}}</td>
                    {{#if username}}
                        <td>
                            <form method="post" action="quiz/score/remove">
                                <input type="hidden" name="id" value="{{this.id}}">
                                <button type="submit" class="btn btn-danger">Remove</button>
                            </form>
                        </td>
                    {{/if}}
                {{/each}}
            </tr>
            </tbody>
        </table>
    </div>

{{/inline}}
{{~> (parent)~}}