<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="My Homepage">
    <meta name="author" content="Jan Nils Ferner">
    <link rel="icon" href="/favicon.ico">

    <title>{{title}}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/css/layout.css" rel="stylesheet">
    <link href="/css/docs.min.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarsExampleContainer" aria-controls="navbarsExampleContainer" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Jan Nils Ferner</a>
    <div class="collapse navbar-collapse" id="navbarsExampleContainer">
        <ul class="navbar-nav mr-auto">
            {{#each sections}}
                <li class="nav-item {{#if is_active}}active{{/if}}">
                    <a class="nav-link" href="{{route}}">{{name}}</a>
                </li>
            {{/each}}
        </ul>
        {{#if username}}
            <div class="nav navbar-nav navbar-right">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        {{username}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/quiz/admin">Quiz Admin Panel</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>
            </div>
        {{else}}
            <form class="form-inline my-2 my-md-0" method="post">
                <input name="email" type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required
                       title="Enter a valid email" placeholder="Email" class="form-control mr-sm-2">
                <input name="password" type="password" pattern=".{8,}" title="8 characters minimum" required
                       placeholder="Password" class="form-control mr-sm-2">
                <button type="submit" class="btn btn-success" formaction="/login">Sign in</button>
                <button type="submit" class="btn btn-primary" formaction="/register">Register</button>
            </form>
        {{/if}}
    </div>
</nav>

<div class="container">
    <div class="layout">
        {{~> page}}
    </div>

</div><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>

</body>
</html>
